*
{
	margin: 0;
	padding: 0;
}
body
{
	--bg-color-one: rgb(38, 0, 135);
	--bg-color-two: rgb(20, 20, 50);
	--highlight-color: rgb(89, 23, 255);
	--border-color: rgb(67, 52, 106);
	--low-profile-color: rgb(65, 65, 65);
	color: white;
	
	width: 100%;
	height: 100%;
	background-color: var(--bg-color-two);
}
body>div
{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}
#bg_gradient
{
	position: fixed;
	inset: 0;
  	z-index: -1;
	width: 100vw;
	height: 40vh;
	background-image: linear-gradient(var(--bg-color-one), var(--bg-color-two));
}

.box
{
	display: inline-flex;
	flex-direction: row;
	padding: 1em;
	margin: 1em;
	border-radius: 20px;
	border: var(--border-color) solid 2px;
	background-color: var(--bg-color-two);
	width: 30%;
	transition: border-color 0.5s ease;
}
.box:hover
{
	border-color: var(--highlight-color);
}
@media(max-width: 1536px)
{
	.box
	{
		width: 100%;
	}
}
.box>img
{
	height: 250px;
	margin-right: 1em;
}
.box>div
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
a
{
	line-height: 1.5em;
	color: var(--highlight-color);

	--outline-size: 2px;
	--outline-size-negative: calc(-1 * var(--outline-size));
	--outline-color: var(--bg-color-one);
	text-shadow:
		var(--outline-size-negative) var(--outline-size-negative) var(--outline-color),
		var(--outline-size-negative) var(--outline-size) var(--outline-color),
		var(--outline-size) var(--outline-size) var(--outline-color),
		var(--outline-size) var(--outline-size-negative) var(--outline-color),
		0 var(--outline-size) var(--outline-color),
		var(--outline-size) 0 var(--outline-color),
		0 var(--outline-size-negative) var(--outline-color),
		var(--outline-size-negative) 0 var(--outline-color);
	
	font-weight: bold;
}
.footnote
{
	margin-top: auto;
	font-size: 0.75em;
	color: var(--low-profile-color);
	transition: color 0.5s ease;
}
.footnote:hover
{
	color: var(--highlight-color);
	font-weight: bold;
}
#theme-selector
{
	margin: 1em;
}
#theme-selector>a
{
	margin: 0.2em;
	display: inline-block;
	width: 2em;
	height: 2em;
	border-radius: 100%;
	border: 2px solid var(--border-color);
}
#theme-selector>a[href=""]
{
	background-color: blueviolet;
}
#green_theme
{
	background-color: green;
}
body:has(#green_theme:target)
{
	--bg-color-one: rgb(0, 135, 0);
	--bg-color-two: rgb(20, 50, 21);
	--highlight-color: rgb(46, 255, 23);
	--border-color: rgb(52, 106, 52);
	--low-profile-color: rgb(75, 75, 75);
}