*
{
	margin: 0;
	padding: 0;
}
ul
{
	padding: 0.5em;
}
li
{
	margin-block: 0.5em;
}
p
{
	margin-top: 0.5em;
}
p+p
{
	margin-top: 1em;
}
@property --bg-color-one
{
	syntax: '<color>';
	initial-value: oklch(35% 0.15 140);
	inherits: true;
}
@property --bg-color-two
{
	syntax: '<color>';
	initial-value: oklch(30% 0.05 140);
	inherits: true;
}
@property --highlight-color
{
	syntax: '<color>';
	initial-value: oklch(85% 0.3 140);
	inherits: true;
}
@property --border-color
{
	syntax: '<color>';
	initial-value: oklch(50% 0.1 140);
	inherits: true;
}
@property --low-profile-color
{
	syntax: '<color>';
	initial-value: rgb(70, 70, 70);
	inherits: true;
}
body
{
	color: white;
	
	width: 100%;
	height: 100%;
	background-color: var(--bg-color-two);

	font-family: adwaita-sans, Arial, Impact;

	transition:
		--bg-color-one 0.5s ease,
		--bg-color-two 0.5s ease,
		--highlight-color 0.5s ease,
		--border-color 0.5s ease,
		--low-profile-color 0.5s ease;
}
body>div
{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}
#bg_gradient
{
	position: fixed;
	inset: 0;
  	z-index: -1;
	width: 100vw;
	height: 40vh;
	background-image: linear-gradient(var(--bg-color-one), var(--bg-color-two));
}

.box
{
	display: inline-flex;
	flex-direction: row;
	padding: 1em;
	margin: 1em;
	border-radius: 20px;
	border: var(--border-color) solid 2px;
	background-color: var(--bg-color-two);
	width: 30%;
}
.box:is(:hover, :active)
{
	border-color: var(--highlight-color);
}
@media(max-width: 1536px)
{
	.box
	{
		width: 100%;
	}
}
.box img
{
	height: 250px;
	margin-right: 1em;
}
.box>div, .box>a
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
a
{
	line-height: 1.5em;
	color: var(--highlight-color);

	--outline-size: 2px;
	--outline-size-negative: calc(-1 * var(--outline-size));
	--outline-color: var(--bg-color-one);
	text-shadow:
		var(--outline-size-negative) var(--outline-size-negative) var(--outline-color),
		var(--outline-size-negative) var(--outline-size) var(--outline-color),
		var(--outline-size) var(--outline-size) var(--outline-color),
		var(--outline-size) var(--outline-size-negative) var(--outline-color),
		0 var(--outline-size) var(--outline-color),
		var(--outline-size) 0 var(--outline-color),
		0 var(--outline-size-negative) var(--outline-color),
		var(--outline-size-negative) 0 var(--outline-color);
	
	font-weight: bold;
}
.footnote
{
	margin-top: auto;
	font-size: 0.75em;
	color: var(--low-profile-color);
	transition: color 0.5s ease;
}
.footnote:is(:hover, :active)
{
	color: var(--highlight-color);
	font-weight: bold;
}
body:has(#yavalanche:is(:hover, :active))
{
	--bg-color-one: rgb(38, 0, 135);
	--bg-color-two: rgb(20, 20, 50);
	--highlight-color: rgb(204, 184, 255);
	--border-color: rgb(67, 52, 106);
}
body:has(#godot:is(:hover, :active))
{
	--bg-color-one: oklch(20% 0.2 245);
	--bg-color-two: oklch(20% 0.05 245);
	--highlight-color: oklch(60% 0.2 245);
	--border-color: oklch(60% 0.01 245);
}
body:has(#dots:is(:hover, :active))
{
	--bg-color-one: oklch(20% 0.1 330);
	--bg-color-two: oklch(20% 0.05 330);
	--highlight-color: oklch(80% 0.1 330);
	--border-color: oklch(80% 0.01 330);
}
body:has(#zeroad:is(:hover, :active)), body:has(#selectall:is(:hover, :active))
{
	--bg-color-one: oklch(40% 0.1 85);
	--bg-color-two: oklch(25% 0.05 85);
	--highlight-color: oklch(80% 0.1 85);
	--border-color: oklch(80% 0.01 85);
	color: #D7CAA1;
}
body:has(#quandary:is(:hover, :active))
{
	--bg-color-one: oklch(40% 0.15 30);
	--bg-color-two: oklch(20% 0.15 30);
	--highlight-color: oklch(80% 0.2 30);
	--border-color: oklch(10% 0.15 30);
	color: #B29100;
}
body:has(#yellowcar:is(:hover, :active))
{
	--bg-color-one: oklch(34% 0.05 100);
	--bg-color-two: oklch(34% 0.01 100);
	--highlight-color: oklch(95% 0.21 100);
	--border-color: oklch(95% 0.01 100);
}
body:has(#pongjs:is(:hover, :active))
{
	--bg-color-one: oklch(20% 0.32 330);
	--bg-color-two: oklch(0% 0 0);
	--highlight-color: oklch(70% 0.32 330);
	--border-color: oklch(80% 0.1 330);
}
body:has(#webrtc:is(:hover, :active))
{
	--bg-color-one: oklch(20% 0.2 45);
	--bg-color-two: oklch(20% 0.05 45);
	--highlight-color: oklch(60% 0.2 45);
	--border-color: oklch(60% 0.01 45);
}